<div class="container">
  <div ng-if="myInfoCtrl.signedNot">
    <h3>Registered information</h3>
    Name: {{myInfoCtrl.myInfo.firstName}}
    {{myInfoCtrl.myInfo.lastName}} <br>
    Email: {{myInfoCtrl.myInfo.emailAddress}} <br>
    <span ng-if="myInfoCtrl.myInfo.phoneNumber">Phone: {{myInfoCtrl.myInfo.phoneNumber}}<br> </span>
    Fave item name: {{myInfoCtrl.myInfo.itemName}}<br>
    Item description: {{myInfoCtrl.myInfo.itemDescription}} <br><br>
    <img src="images/menu/{{myInfoCtrl.myInfo.itemCategoryName}}/{{myInfoCtrl.myInfo.itemCategoryName}}.jpg" alt="{{myInfoCtrl.myInfo.itemDescription}}">
  </div>
  <h3> <a ui-sref="public.signUp" ng-if="myInfoCtrl.signedUp"> You haven't singed yet! Sign up Now! </a> </h3>
</div>
